<!DOCTYPE html>
<html>
<head>
  <title>Oweb3 soft delete</title>
  <%= stylesheet_link_tag    "oweb3_soft_delete/application", media: "all" %>
  <%= javascript_include_tag "oweb3_soft_delete/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
